body {
  min-height: 100%;
  background-color: #0a165e;
}
[v-cloak] {
  display: none;
}
$rate: 1.7979;
.app {
  width: 1920px;
  min-height: 1080px;
  overflow: auto;
  position: relative;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  background: url(../images/ygdzyktjgpt04/bg.png) no-repeat center center;
  background-size: cover;
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  text-indent: -99999em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url(../images/ygdzyktjgpt04/bg-title.png) no-repeat center center;
  background-size: 100% 34px;
  margin-top: 60px;
  .title {
    width: 1308px;
  }
}

.center {
  width: 100%;
  height: 670px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 140px - 28px;
  padding-top: 64px;
  .item {
    width: 389px;
    height: 174px;
    background: url(../images/ygdzyktjgpt04/bg-item-01.png) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
    user-select: none;
    position: relative;
    .img-wrapper {
      width: 88px;
      display: flex;
    }
    .icon {
      width: 88px;
      margin: auto;
    }
    .key {
      color: #14e2fe;
      font-size: 28px;
      font-weight: 700;
      padding-left: 8px;
      padding-right: 20px;
      background-image: -webkit-linear-gradient(bottom, #71c1ff, #fff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .w-left {
    width: 400px;
  }
  .w-center {
    width: 700px;
    height: 100%;
    position: relative;
    cursor: pointer;
    user-select: none;
    img {
      position: absolute;
    }
    .logo {
      width: 200px;
      left: 50%;
      transform: translateX(-50%);
      top: 100px;
      z-index: 2;
    }
    .text {
      width: 246px;
      left: 50%;
      transform: translateX(-50%);
      top: 300px;
      z-index: 3;
    }
    .map {
      width: 700px;
      left: 50%;
      transform: translateX(-50%);
      top: 304px;
      z-index: 2;
    }
    .active {
      position: absolute;
      top: -148px;
      left: -50px;
      width: 800px;
      max-width: 800px;
      animation: rota 3s infinite linear;
      z-index: 1;
    }
  }
  .w-right {
    width: 400px;
  }
}

.footer {
  width: 100%;
  padding: 0 80px;
  .items {
    width: 100%;
    height: 245px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(../images/ygdzyktjgpt04/bg-footer.png) no-repeat center center;
    background-size: cover;
  }
  .item {
    width: 25%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    white-space: nowrap;
    position: relative;
    .name {
      .key {
        font-size: 26px;
        font-weight: 700;
        background-image: -webkit-linear-gradient(bottom, #ffd400 0%, #ffe763 30%, #fff9c6 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
      }
      .value {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #feec48;
        padding-top: 20px;
        .val {
          font-size: 38px;
          font-weight: 700;
          background-image: -webkit-linear-gradient(bottom, #ffff26 0%, #ffc40f 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          line-height: 1;
        }
        .unit {
          font-size: 18px;
          line-height: 1;
          color: #ffc926;
          padding-top: 16px;
          padding-left: 10px;
        }
      }
    }
    .cells {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 20px;
      flex: 1;
      overflow: hidden;
      .cell {
        width: 50%;
        margin-bottom: 40px;
        &.w100 {
          width: 100%;
        }
        &.cen {
          padding-top: 0;
        }
        &.no-margin {
          margin-bottom: 0;
        }
        .key {
          font-size: 20px;
          color: #75baff;
          font-weight: 500;
        }
        .value {
          display: flex;
          align-items: center;
          padding-top: 11px;
          .val {
            font-size: 32px;
            line-height: 1;
            font-weight: 700;
            background-image: -webkit-linear-gradient(bottom, #b3dcff 0%, #fff 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .unit {
            font-size: 14px;
            line-height: 1;
            color: #94b5ff;
            padding-left: 10px;
            padding-top: 10px;
          }
        }
      }
    }
    &::after {
      content: '';
      width: 2px;
      height: 204px;
      background: url(../images/ygdzyktjgpt04/line.png) no-repeat center center;
      background-size: cover;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    &:last-child {
      &::after {
        content: '';
        width: 0;
      }
    }
  }
}
