body {
  min-height: 100%;
  background-color: #041a4c;
}
[v-cloak] {
  display: none;
}
$rate: 1.7979;
.app {
  width: 1920px;
  min-height: 1080px;
  overflow: auto;
  position: relative;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
}
.bg {
  position: absolute;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
  width: 1431px;
  z-index: 3;
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  .title {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: calc(78px / $rate);
    padding-top: 78px;
    line-height: 1;
  }
}

.center {
  width: 100%;
  height: 640px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 140px;
  .item {
    width: 303px;
    height: 120px;
    background: url(../images/ygdzyktjgpt03/bg-item-01.png) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-bottom: 62px;
    padding-left: 24px;
    color: #14e2fe;
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    .img-wrapper {
      width: 56px;
      display: flex;
    }
    .icon {
      width: 32px;
      margin: auto;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .w-left {
    width: 302px;
  }
  .w-center {
    flex: 1;
  }
  .w-right {
    width: 302px;
  }
}

.footer {
  width: 100%;
  .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
  }
  .item {
    width: 393px;
    height: 270px;
    background: url(../images/ygdzyktjgpt03/bg-item-02.png) no-repeat center center;
    background-size: cover;
    .name {
      width: 100%;
      height: 70px;
      background: url(../images/ygdzyktjgpt03/bg-item-title-02.png) no-repeat center center;
      background-size: cover;
      display: flex;
      align-items: center;
      .key {
      }
      .value {
        display: flex;
        align-items: center;
      }
    }
  }
}
