body {
  background: url(../images/ygdzyktjgpt02/bg.png) no-repeat center center;
  background-size: cover;
}
[v-cloak] {
  display: none;
}
$rate: 1.7979;
.app {
  width: 1920px;
  height: 1080px;
  overflow: auto;
  position: relative;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
}
.bg {
  position: absolute;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
  width: 1431px;
}
.con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rota2 {
  0% {
    top: 40px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 40px;
  }
}

.header {
  .title {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: calc(78px / $rate);
    padding-top: 78px;
    line-height: 1;
  }
}
.center {
  width: 100%;
  height: 600px;
  position: relative;
  .bg {
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .c-01 {
      width: 965px;
    }
    .c-02 {
      width: 1113px;
    }
    .c-03 {
      width: 1513px;
    }
    .c-04 {
      width: 1601px;
    }
  }
  .con {
    position: absolute;
    top: 0;
    width: 100%;
    .logo-wrapper {
      position: absolute;
      top: calc(98px / $rate);
      left: 50%;
      transform: translateX(-50%);
      .logo-bg {
        width: 423px;
        margin: 0 auto;
      }
      .logo-light {
        width: 620px;
        max-width: 1204px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -340px;
        margin-left: -316px;
        animation: rota 4s linear infinite;
      }
      .logo {
        width: 124px;
        position: absolute;
        top: 52px;
        left: 50%;
        transform: translateX(-50%);
      }
      .logo-text {
        width: 240px;
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.footer {
  display: none;
  width: 100%;
  height: 442px;
  background: url(../images/ygdzyktjgpt02/bg-footer.png) no-repeat center center;
  background-size: 2251px 442px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  .map-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1181px;
    height: 204px;
    background: url(../images/ygdzyktjgpt02/bg-map.png) no-repeat center center;
    background-size: 1181px 204px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    padding-top: 36px;
    z-index: 2;
  }
  .arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    img {
      width: 240px;
      &:nth-of-type(2) {
        width: 343px;
        margin: 0 46px;
      }
    }
  }
  .items {
    width: 100%;
    .item {
      width: 294px;
      height: 282px;
      background: url(../images/ygdzyktjgpt02/bg-item.png) no-repeat center center;
      background-size: cover;
      background-color: #f0f;
      .col {
        .key {
          width: 100%;
          text-align: center;
          font-weight: 700;
          color: #fff;
        }
        .value {
          display: flex;
          justify-content: center;
          align-items: center;
          .val {
          }
        }
      }
    }
  }
}
.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 54px;
    .img {
      width: 1145px;
    }
  }
  .center {
    width: 100%;
    padding-top: 10px;
    position: relative;
    height: 560px;
    .logo-wrapper {
      width: 602px;
      height: 602px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      .logo-bg {
        width: 100%;
        height: 100%;
        position: relative;
        .img {
          position: absolute;
          width: 400px;
          left: 50%;
          top: 0;
          margin-left: -200px;
          &.img-light {
            top: -117px;
            left: 15px;
            width: 100%;
            margin-left: 0;
            animation: rota 6s linear infinite;
          }
        }
      }
      .logo-con {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 61px;
        .img-logo {
          width: 119px;
          margin: 0 auto;
        }
        .img-text {
          width: 233px;
          margin: 13px auto 0;
        }
      }
    }
    .circle-one {
      position: absolute;
      width: 1023px;
      top: 276px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      .bg {
        width: 1023px;
        height: 131px;
      }
      .con {
        .item {
          position: absolute;
          .text {
            font-size: 32px;
            line-height: 40px;
            font-weight: 700;
            text-align: center;
            color: #00d5e4;
          }
          .img {
            width: 128px;
          }
          &:nth-of-type(1) {
            top: -8px;
            left: 107px;
          }
          &:nth-of-type(2) {
            top: 22px;
            left: 447px;
          }
          &:nth-of-type(3) {
            top: -8px;
            left: 806px;
          }
        }
      }
      .img-text-sgk {
        position: absolute;
        top: 72px;
        left: 424px;
        width: 179px;
      }
    }
    .circle-two {
      position: absolute;
      width: 1537px;
      height: 286px;
      top: 256px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      .con {
        .item {
          position: absolute;
          color: #f29e9c;
          white-space: nowrap;
          .value-wrapper {
            color: #fff;
            display: flex;
            align-items: flex-end;
            .value {
              font-size: 50px;
              line-height: 64px;
              font-weight: 500;
            }
            .value-unit {
              padding-right: 3px;
            }
            .unit {
              font-size: 24px;
              line-height: 31px;
              padding-bottom: 6px;
            }
          }
          .key {
            font-size: 26px;
            text-align: center;
            font-weight: 700;
            color: inherit;
            line-height: 1;
            padding-bottom: 7px;
          }
          .img {
            width: 26px;
            margin: 0 auto;
          }
          &:nth-of-type(1) {
            width: 140px;
            top: 53px;
            left: 65px;
          }
          &:nth-of-type(2) {
            width: 170px;
            top: 118px;
            left: 408px;
            color: #f8bc82;
          }
          &:nth-of-type(3) {
            width: 172px;
            top: 115px;
            left: 970px;
            color: #f2dd9c;
          }
          &:nth-of-type(4) {
            width: 182px;
            top: 40px;
            left: 1370px;
            color: #99f5a4;
          }
        }
      }
      .con-02 {
        .item {
          position: absolute;
          color: #fadbda;
          white-space: nowrap;
          font-size: 24px;
          line-height: 32px;
          .value {
            color: inherit;
            display: flex;
            align-items: flex-end;
            .val {
              font-size: 32px;
              line-height: 40px;
            }
            .unit {
              padding-bottom: 4px;
            }
          }
          .point {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #27a7e2;
          }
          &:nth-of-type(1) {
            text-align: center;
            top: 77px;
            left: 20px;
            transform: translateX(-100%);
            display: flex;
            align-items: center;
            .point {
              margin-left: 20px;
            }
          }
          &:nth-of-type(2) {
            text-align: center;
            top: 155px;
            left: 12px;
            transform: translateX(-100%);
            display: flex;
            align-items: center;
            padding-right: 20px;
            .point {
              position: absolute;
              top: 0;
              right: 0;
            }
          }
          &:nth-of-type(3) {
            text-align: right;
            top: 184px;
            left: 64px;
            transform: translateX(-100%);
            display: flex;
            align-items: center;
            padding-top: 20px;
            .point {
              position: absolute;
              top: 0;
              right: 20px;
            }
          }
          &:nth-of-type(4) {
            text-align: right;
            top: 209px;
            left: 126px;
            transform: translateX(-100%);
            display: flex;
            align-items: center;
            padding-top: 20px;
            .point {
              position: absolute;
              top: 0;
              right: 20px;
            }
          }
          &:nth-of-type(5) {
            text-align: right;
            top: 264px;
            left: 420px;
            display: flex;
            align-items: center;
            padding-top: 20px;
            transform: translateX(-100%);
            color: #fde9d5;
            .point {
              position: absolute;
              top: 0;
              right: 20px;
            }
          }
          &:nth-of-type(6) {
            text-align: left;
            top: 270px;
            left: 270px;
            transform: translateX(100%);
            display: flex;
            align-items: center;
            padding-top: 20px;
            color: #fde9d5;
            .point {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
          &:nth-of-type(7) {
            text-align: center;
            top: 271px;
            left: 1250px;
            transform: translateX(-100%);
            display: flex;
            align-items: center;
            padding-top: 20px;
            color: #fbf4de;
            .point {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
          &:nth-of-type(8) {
            text-align: center;
            top: 206px;
            left: 1585px;
            transform: translateX(-100%);
            display: flex;
            align-items: center;
            padding-top: 20px;
            color: #cafad0;
            .point {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
      .img-text-szt {
        position: absolute;
        top: 187px;
        left: 50%;
        transform: translateX(-50%);
        width: 179px;
      }
    }
  }
  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    .img {
      width: 100%;
    }
    .map-wrapper {
      position: absolute;
      bottom: 86px;
      left: 403px;
      z-index: 2;
      .map-bg {
        width: 1151px;
      }
      .map-text {
        width: 556px;
        position: absolute;
        top: 36px;
        left: 311px;
      }
    }
    .arrows {
      width: 1128px;
      height: 180px;
      position: absolute;
      left: 381px;
      bottom: 159px;
      z-index: 1;
      animation: rota2 4s linear infinite;
      .arrow {
        width: 82px;
        position: absolute;

        &:nth-of-type(1) {
          top: 0;
          left: 0;
        }
        &:nth-of-type(2) {
          top: 15px;
          left: 547px;
        }
        &:nth-of-type(3) {
          top: 0;
          right: 0;
        }
      }
    }
    .citys {
      .city {
        position: absolute;
        font-size: 24px;
        line-height: 31px;
        color: #a6a6a6;
        cursor: pointer;
        &.dazhou {
          top: 146px;
          left: 108px;
        }
        &.yaan {
          top: 189px;
          left: 286px;
        }
        &.suining {
          top: 139px;
          left: 340px;
        }
        &.neijiang {
          top: 183px;
          left: 460px;
        }
        &.zigong {
          top: 101px;
          left: 473px;
        }
        &.ganzi {
          top: 259px;
          left: 538px;
        }
        &.chengdu {
          top: 152px;
          left: 588px;
        }
        &.leshan {
          top: 196px;
          left: 732px;
        }
        &.luzhou {
          top: 238px;
          left: 780px;
        }
        &.aba {
          top: 283px;
          left: 868px;
        }
        &.nanchong {
          top: 221px;
          left: 956px;
        }
        &.deyang {
          top: 237px;
          left: 1088px;
        }
        &.meshan {
          top: 196px;
          left: 1161px;
        }
        &.liangshan {
          top: 251px;
          left: 1221px;
        }
        &.yibin {
          top: 176px;
          left: 1368px;
        }
        &.mianyang {
          top: 196px;
          left: 1456px;
        }
        &.guangan {
          top: 140px;
          left: 1527px;
        }
        &.bazhong {
          top: 193px;
          left: 1575px;
        }
        &.guangyuan {
          top: 107px;
          left: 1597px;
        }
        &.ziyang {
          top: 178px;
          left: 1693px;
        }
        &.panzhihua {
          top: 146px;
          left: 1801px;
        }
      }
    }
  }
}
