// px 转 rem
$htmlFontSize: 75;

$scss_2px: 2/$htmlFontSize * 1rem;
$scss_4px: 4/$htmlFontSize * 1rem;
$scss_5px: 5/$htmlFontSize * 1rem;
$scss_6px: 6/$htmlFontSize * 1rem;
$scss_7px: 7/$htmlFontSize * 1rem;
$scss_8px: 8/$htmlFontSize * 1rem;
$scss_9px: 9/$htmlFontSize * 1rem;

$scss_10px: 10/$htmlFontSize * 1rem;
$scss_12px: 12/$htmlFontSize * 1rem;
$scss_13px: 13/$htmlFontSize * 1rem;
$scss_14px: 14/$htmlFontSize * 1rem;
$scss_15px: 15/$htmlFontSize * 1rem;
$scss_16px: 16/$htmlFontSize * 1rem;
$scss_18px: 18/$htmlFontSize * 1rem;

$scss_20px: 20/$htmlFontSize * 1rem;
$scss_22px: 22/$htmlFontSize * 1rem;
$scss_24px: 24/$htmlFontSize * 1rem;
$scss_25px: 25/$htmlFontSize * 1rem;
$scss_26px: 26/$htmlFontSize * 1rem;
$scss_28px: 28/$htmlFontSize * 1rem;

$scss_30px: 30/$htmlFontSize * 1rem;
$scss_32px: 32/$htmlFontSize * 1rem;
$scss_34px: 34/$htmlFontSize * 1rem;
$scss_36px: 36/$htmlFontSize * 1rem;
$scss_38px: 38/$htmlFontSize * 1rem;

$scss_40px: 40/$htmlFontSize * 1rem;
$scss_42px: 42/$htmlFontSize * 1rem;
$scss_44px: 44/$htmlFontSize * 1rem;
$scss_46px: 46/$htmlFontSize * 1rem;
$scss_48px: 48/$htmlFontSize * 1rem;

$scss_50px: 50/$htmlFontSize * 1rem;
$scss_52px: 52/$htmlFontSize * 1rem;
$scss_54px: 54/$htmlFontSize * 1rem;
$scss_56px: 56/$htmlFontSize * 1rem;
$scss_58px: 58/$htmlFontSize * 1rem;

$scss_60px: 60/$htmlFontSize * 1rem;
$scss_62px: 62/$htmlFontSize * 1rem;
$scss_64px: 64/$htmlFontSize * 1rem;
$scss_65px: 65/$htmlFontSize * 1rem;
$scss_66px: 66/$htmlFontSize * 1rem;
$scss_68px: 68/$htmlFontSize * 1rem;

$scss_70px: 70/$htmlFontSize * 1rem;
$scss_72px: 72/$htmlFontSize * 1rem;
$scss_74px: 74/$htmlFontSize * 1rem;
$scss_76px: 76/$htmlFontSize * 1rem;
$scss_78px: 78/$htmlFontSize * 1rem;

$scss_80px: 80/$htmlFontSize * 1rem;
$scss_82px: 82/$htmlFontSize * 1rem;
$scss_84px: 84/$htmlFontSize * 1rem;
$scss_86px: 86/$htmlFontSize * 1rem;
$scss_88px: 88/$htmlFontSize * 1rem;

$scss_90px: 90/$htmlFontSize * 1rem;
$scss_92px: 92/$htmlFontSize * 1rem;
$scss_94px: 94/$htmlFontSize * 1rem;
$scss_96px: 96/$htmlFontSize * 1rem;
$scss_98px: 98/$htmlFontSize * 1rem;

$scss_100px: 100/$htmlFontSize * 1rem;
$scss_102px: 102/$htmlFontSize * 1rem;
$scss_104px: 104/$htmlFontSize * 1rem;
$scss_106px: 106/$htmlFontSize * 1rem;
$scss_108px: 108/$htmlFontSize * 1rem;

$scss_110px: 110/$htmlFontSize * 1rem;
$scss_112px: 112/$htmlFontSize * 1rem;
$scss_114px: 114/$htmlFontSize * 1rem;
$scss_116px: 116/$htmlFontSize * 1rem;
$scss_118px: 118/$htmlFontSize * 1rem;

$scss_120px: 120/$htmlFontSize * 1rem;
$scss_122px: 122/$htmlFontSize * 1rem;
$scss_124px: 124/$htmlFontSize * 1rem;
$scss_126px: 126/$htmlFontSize * 1rem;
$scss_128px: 128/$htmlFontSize * 1rem;

$scss_130px: 130/$htmlFontSize * 1rem;
$scss_132px: 132/$htmlFontSize * 1rem;
$scss_134px: 134/$htmlFontSize * 1rem;
$scss_136px: 136/$htmlFontSize * 1rem;
$scss_138px: 138/$htmlFontSize * 1rem;

$scss_140px: 140/$htmlFontSize * 1rem;
$scss_142px: 142/$htmlFontSize * 1rem;
$scss_144px: 144/$htmlFontSize * 1rem;
$scss_146px: 146/$htmlFontSize * 1rem;
$scss_148px: 148/$htmlFontSize * 1rem;

$scss_150px: 150/$htmlFontSize * 1rem;
$scss_152px: 152/$htmlFontSize * 1rem;
$scss_154px: 154/$htmlFontSize * 1rem;
$scss_156px: 156/$htmlFontSize * 1rem;
$scss_158px: 158/$htmlFontSize * 1rem;

$scss_160px: 160/$htmlFontSize * 1rem;
$scss_162px: 162/$htmlFontSize * 1rem;
$scss_164px: 164/$htmlFontSize * 1rem;
$scss_166px: 166/$htmlFontSize * 1rem;
$scss_168px: 168/$htmlFontSize * 1rem;

$scss_170px: 170/$htmlFontSize * 1rem;
$scss_172px: 172/$htmlFontSize * 1rem;
$scss_174px: 174/$htmlFontSize * 1rem;
$scss_176px: 176/$htmlFontSize * 1rem;
$scss_178px: 178/$htmlFontSize * 1rem;

$scss_180px: 180/$htmlFontSize * 1rem;
$scss_182px: 182/$htmlFontSize * 1rem;
$scss_184px: 184/$htmlFontSize * 1rem;
$scss_186px: 186/$htmlFontSize * 1rem;
$scss_188px: 188/$htmlFontSize * 1rem;

$scss_190px: 190/$htmlFontSize * 1rem;
$scss_192px: 192/$htmlFontSize * 1rem;
$scss_194px: 194/$htmlFontSize * 1rem;
$scss_195px: 195/$htmlFontSize * 1rem;
$scss_196px: 196/$htmlFontSize * 1rem;
$scss_198px: 198/$htmlFontSize * 1rem;

$scss_200px: 200/$htmlFontSize * 1rem;
$scss_202px: 202/$htmlFontSize * 1rem;
$scss_204px: 204/$htmlFontSize * 1rem;
$scss_206px: 206/$htmlFontSize * 1rem;
$scss_208px: 208/$htmlFontSize * 1rem;

$scss_210px: 210/$htmlFontSize * 1rem;
$scss_212px: 212/$htmlFontSize * 1rem;
$scss_214px: 214/$htmlFontSize * 1rem;
$scss_216px: 216/$htmlFontSize * 1rem;
$scss_218px: 218/$htmlFontSize * 1rem;

$scss_220px: 220/$htmlFontSize * 1rem;
$scss_222px: 222/$htmlFontSize * 1rem;
$scss_224px: 224/$htmlFontSize * 1rem;
$scss_226px: 226/$htmlFontSize * 1rem;
$scss_228px: 228/$htmlFontSize * 1rem;

$scss_230px: 230/$htmlFontSize * 1rem;
$scss_232px: 232/$htmlFontSize * 1rem;
$scss_234px: 234/$htmlFontSize * 1rem;
$scss_236px: 236/$htmlFontSize * 1rem;
$scss_238px: 238/$htmlFontSize * 1rem;

$scss_240px: 240/$htmlFontSize * 1rem;
$scss_242px: 242/$htmlFontSize * 1rem;
$scss_244px: 244/$htmlFontSize * 1rem;
$scss_246px: 246/$htmlFontSize * 1rem;
$scss_248px: 248/$htmlFontSize * 1rem;

$scss_250px: 250/$htmlFontSize * 1rem;
$scss_252px: 252/$htmlFontSize * 1rem;
$scss_254px: 254/$htmlFontSize * 1rem;
$scss_256px: 256/$htmlFontSize * 1rem;
$scss_258px: 258/$htmlFontSize * 1rem;

$scss_260px: 260/$htmlFontSize * 1rem;
$scss_262px: 262/$htmlFontSize * 1rem;
$scss_264px: 264/$htmlFontSize * 1rem;
$scss_266px: 266/$htmlFontSize * 1rem;
$scss_268px: 268/$htmlFontSize * 1rem;

$scss_270px: 270/$htmlFontSize * 1rem;
$scss_272px: 272/$htmlFontSize * 1rem;
$scss_274px: 274/$htmlFontSize * 1rem;
$scss_276px: 276/$htmlFontSize * 1rem;
$scss_278px: 278/$htmlFontSize * 1rem;

$scss_280px: 280/$htmlFontSize * 1rem;
$scss_282px: 282/$htmlFontSize * 1rem;
$scss_284px: 284/$htmlFontSize * 1rem;
$scss_286px: 286/$htmlFontSize * 1rem;
$scss_288px: 288/$htmlFontSize * 1rem;

$scss_290px: 290/$htmlFontSize * 1rem;
$scss_292px: 292/$htmlFontSize * 1rem;
$scss_294px: 294/$htmlFontSize * 1rem;
$scss_296px: 296/$htmlFontSize * 1rem;
$scss_298px: 298/$htmlFontSize * 1rem;

$scss_300px: 300/$htmlFontSize * 1rem;
$scss_302px: 302/$htmlFontSize * 1rem;
$scss_304px: 304/$htmlFontSize * 1rem;
$scss_306px: 306/$htmlFontSize * 1rem;
$scss_308px: 308/$htmlFontSize * 1rem;

$scss_310px: 310/$htmlFontSize * 1rem;
$scss_312px: 312/$htmlFontSize * 1rem;
$scss_314px: 314/$htmlFontSize * 1rem;
$scss_316px: 316/$htmlFontSize * 1rem;
$scss_318px: 318/$htmlFontSize * 1rem;

$scss_320px: 320/$htmlFontSize * 1rem;
$scss_322px: 322/$htmlFontSize * 1rem;
$scss_324px: 324/$htmlFontSize * 1rem;
$scss_326px: 326/$htmlFontSize * 1rem;
$scss_328px: 328/$htmlFontSize * 1rem;

$scss_330px: 330/$htmlFontSize * 1rem;
$scss_332px: 332/$htmlFontSize * 1rem;
$scss_334px: 334/$htmlFontSize * 1rem;
$scss_336px: 336/$htmlFontSize * 1rem;
$scss_338px: 338/$htmlFontSize * 1rem;

$scss_340px: 340/$htmlFontSize * 1rem;
$scss_342px: 342/$htmlFontSize * 1rem;
$scss_344px: 344/$htmlFontSize * 1rem;
$scss_346px: 346/$htmlFontSize * 1rem;
$scss_348px: 348/$htmlFontSize * 1rem;

$scss_350px: 350/$htmlFontSize * 1rem;
$scss_352px: 352/$htmlFontSize * 1rem;
$scss_354px: 354/$htmlFontSize * 1rem;
$scss_356px: 356/$htmlFontSize * 1rem;
$scss_358px: 358/$htmlFontSize * 1rem;

$scss_360px: 360/$htmlFontSize * 1rem;
$scss_362px: 362/$htmlFontSize * 1rem;
$scss_364px: 364/$htmlFontSize * 1rem;
$scss_366px: 366/$htmlFontSize * 1rem;
$scss_368px: 368/$htmlFontSize * 1rem;

$scss_370px: 370/$htmlFontSize * 1rem;
$scss_372px: 372/$htmlFontSize * 1rem;
$scss_374px: 374/$htmlFontSize * 1rem;
$scss_376px: 376/$htmlFontSize * 1rem;
$scss_378px: 378/$htmlFontSize * 1rem;

$scss_380px: 380/$htmlFontSize * 1rem;
$scss_382px: 382/$htmlFontSize * 1rem;
$scss_384px: 384/$htmlFontSize * 1rem;
$scss_386px: 386/$htmlFontSize * 1rem;
$scss_388px: 388/$htmlFontSize * 1rem;

$scss_390px: 390/$htmlFontSize * 1rem;
$scss_392px: 392/$htmlFontSize * 1rem;
$scss_394px: 394/$htmlFontSize * 1rem;
$scss_396px: 396/$htmlFontSize * 1rem;
$scss_398px: 398/$htmlFontSize * 1rem;

$scss_400px: 400/$htmlFontSize * 1rem;
$scss_402px: 402/$htmlFontSize * 1rem;
$scss_404px: 404/$htmlFontSize * 1rem;
$scss_406px: 406/$htmlFontSize * 1rem;
$scss_408px: 408/$htmlFontSize * 1rem;

$scss_410px: 410/$htmlFontSize * 1rem;
$scss_412px: 412/$htmlFontSize * 1rem;
$scss_414px: 414/$htmlFontSize * 1rem;
$scss_416px: 416/$htmlFontSize * 1rem;
$scss_418px: 418/$htmlFontSize * 1rem;

$scss_420px: 420/$htmlFontSize * 1rem;
$scss_422px: 422/$htmlFontSize * 1rem;
$scss_424px: 424/$htmlFontSize * 1rem;
$scss_426px: 426/$htmlFontSize * 1rem;
$scss_428px: 428/$htmlFontSize * 1rem;

$scss_430px: 430/$htmlFontSize * 1rem;
$scss_432px: 432/$htmlFontSize * 1rem;
$scss_434px: 434/$htmlFontSize * 1rem;
$scss_436px: 436/$htmlFontSize * 1rem;
$scss_438px: 438/$htmlFontSize * 1rem;

$scss_440px: 440/$htmlFontSize * 1rem;
$scss_442px: 442/$htmlFontSize * 1rem;
$scss_444px: 444/$htmlFontSize * 1rem;
$scss_446px: 446/$htmlFontSize * 1rem;
$scss_448px: 448/$htmlFontSize * 1rem;

$scss_450px: 450/$htmlFontSize * 1rem;
$scss_452px: 452/$htmlFontSize * 1rem;
$scss_454px: 454/$htmlFontSize * 1rem;
$scss_456px: 456/$htmlFontSize * 1rem;
$scss_458px: 458/$htmlFontSize * 1rem;

$scss_460px: 460/$htmlFontSize * 1rem;
$scss_462px: 462/$htmlFontSize * 1rem;
$scss_464px: 464/$htmlFontSize * 1rem;
$scss_466px: 466/$htmlFontSize * 1rem;
$scss_468px: 468/$htmlFontSize * 1rem;

$scss_470px: 470/$htmlFontSize * 1rem;
$scss_472px: 472/$htmlFontSize * 1rem;
$scss_474px: 474/$htmlFontSize * 1rem;
$scss_476px: 476/$htmlFontSize * 1rem;
$scss_476px: 478/$htmlFontSize * 1rem;

$scss_480px: 480/$htmlFontSize * 1rem;
$scss_482px: 482/$htmlFontSize * 1rem;
$scss_484px: 484/$htmlFontSize * 1rem;
$scss_486px: 486/$htmlFontSize * 1rem;
$scss_488px: 488/$htmlFontSize * 1rem;

$scss_490px: 490/$htmlFontSize * 1rem;
$scss_492px: 492/$htmlFontSize * 1rem;
$scss_494px: 494/$htmlFontSize * 1rem;
$scss_496px: 496/$htmlFontSize * 1rem;
$scss_498px: 498/$htmlFontSize * 1rem;

$scss_500px: 500/$htmlFontSize * 1rem;
$scss_502px: 502/$htmlFontSize * 1rem;
$scss_504px: 504/$htmlFontSize * 1rem;
$scss_506px: 506/$htmlFontSize * 1rem;
$scss_508px: 508/$htmlFontSize * 1rem;

$scss_510px: 510/$htmlFontSize * 1rem;
$scss_512px: 512/$htmlFontSize * 1rem;
$scss_514px: 514/$htmlFontSize * 1rem;
$scss_516px: 516/$htmlFontSize * 1rem;
$scss_518px: 518/$htmlFontSize * 1rem;

$scss_520px: 520/$htmlFontSize * 1rem;
$scss_522px: 522/$htmlFontSize * 1rem;
$scss_524px: 524/$htmlFontSize * 1rem;
$scss_526px: 526/$htmlFontSize * 1rem;
$scss_528px: 528/$htmlFontSize * 1rem;

$scss_530px: 530/$htmlFontSize * 1rem;
$scss_532px: 532/$htmlFontSize * 1rem;
$scss_534px: 534/$htmlFontSize * 1rem;
$scss_536px: 536/$htmlFontSize * 1rem;
$scss_538px: 538/$htmlFontSize * 1rem;

$scss_540px: 540/$htmlFontSize * 1rem;
$scss_542px: 542/$htmlFontSize * 1rem;
$scss_544px: 544/$htmlFontSize * 1rem;
$scss_546px: 546/$htmlFontSize * 1rem;
$scss_548px: 548/$htmlFontSize * 1rem;

$scss_550px: 550/$htmlFontSize * 1rem;
$scss_552px: 552/$htmlFontSize * 1rem;
$scss_554px: 554/$htmlFontSize * 1rem;
$scss_556px: 556/$htmlFontSize * 1rem;
$scss_558px: 558/$htmlFontSize * 1rem;

$scss_560px: 560/$htmlFontSize * 1rem;
$scss_562px: 562/$htmlFontSize * 1rem;
$scss_564px: 564/$htmlFontSize * 1rem;
$scss_566px: 566/$htmlFontSize * 1rem;
$scss_568px: 568/$htmlFontSize * 1rem;

$scss_570px: 570/$htmlFontSize * 1rem;
$scss_572px: 572/$htmlFontSize * 1rem;
$scss_574px: 574/$htmlFontSize * 1rem;
$scss_576px: 576/$htmlFontSize * 1rem;
$scss_578px: 578/$htmlFontSize * 1rem;

$scss_580px: 580/$htmlFontSize * 1rem;
$scss_582px: 582/$htmlFontSize * 1rem;
$scss_584px: 584/$htmlFontSize * 1rem;
$scss_586px: 586/$htmlFontSize * 1rem;
$scss_588px: 588/$htmlFontSize * 1rem;

$scss_590px: 590/$htmlFontSize * 1rem;
$scss_592px: 592/$htmlFontSize * 1rem;
$scss_594px: 594/$htmlFontSize * 1rem;
$scss_596px: 596/$htmlFontSize * 1rem;
$scss_598px: 598/$htmlFontSize * 1rem;

$scss_600px: 600/$htmlFontSize * 1rem;
$scss_602px: 602/$htmlFontSize * 1rem;
$scss_604px: 604/$htmlFontSize * 1rem;
$scss_606px: 606/$htmlFontSize * 1rem;
$scss_608px: 608/$htmlFontSize * 1rem;

$scss_610px: 610/$htmlFontSize * 1rem;
$scss_612px: 612/$htmlFontSize * 1rem;
$scss_614px: 614/$htmlFontSize * 1rem;
$scss_616px: 616/$htmlFontSize * 1rem;
$scss_618px: 618/$htmlFontSize * 1rem;

$scss_620px: 620/$htmlFontSize * 1rem;
$scss_622px: 622/$htmlFontSize * 1rem;
$scss_624px: 624/$htmlFontSize * 1rem;
$scss_626px: 626/$htmlFontSize * 1rem;
$scss_628px: 628/$htmlFontSize * 1rem;

$scss_630px: 630/$htmlFontSize * 1rem;
$scss_632px: 632/$htmlFontSize * 1rem;
$scss_634px: 634/$htmlFontSize * 1rem;
$scss_636px: 636/$htmlFontSize * 1rem;
$scss_638px: 638/$htmlFontSize * 1rem;

$scss_640px: 640/$htmlFontSize * 1rem;
$scss_642px: 642/$htmlFontSize * 1rem;
$scss_644px: 644/$htmlFontSize * 1rem;
$scss_646px: 646/$htmlFontSize * 1rem;
$scss_648px: 648/$htmlFontSize * 1rem;

$scss_650px: 650/$htmlFontSize * 1rem;
$scss_652px: 652/$htmlFontSize * 1rem;
$scss_654px: 654/$htmlFontSize * 1rem;
$scss_656px: 656/$htmlFontSize * 1rem;
$scss_658px: 658/$htmlFontSize * 1rem;

$scss_660px: 660/$htmlFontSize * 1rem;
$scss_662px: 662/$htmlFontSize * 1rem;
$scss_664px: 664/$htmlFontSize * 1rem;
$scss_666px: 666/$htmlFontSize * 1rem;
$scss_668px: 668/$htmlFontSize * 1rem;

$scss_670px: 670/$htmlFontSize * 1rem;
$scss_672px: 672/$htmlFontSize * 1rem;
$scss_674px: 674/$htmlFontSize * 1rem;
$scss_676px: 676/$htmlFontSize * 1rem;
$scss_678px: 678/$htmlFontSize * 1rem;

$scss_680px: 680/$htmlFontSize * 1rem;
$scss_682px: 682/$htmlFontSize * 1rem;
$scss_684px: 684/$htmlFontSize * 1rem;
$scss_686px: 686/$htmlFontSize * 1rem;
$scss_688px: 688/$htmlFontSize * 1rem;

$scss_690px: 690/$htmlFontSize * 1rem;
$scss_692px: 692/$htmlFontSize * 1rem;
$scss_694px: 694/$htmlFontSize * 1rem;
$scss_696px: 696/$htmlFontSize * 1rem;
$scss_698px: 698/$htmlFontSize * 1rem;

$scss_700px: 700/$htmlFontSize * 1rem;
$scss_702px: 702/$htmlFontSize * 1rem;
$scss_704px: 704/$htmlFontSize * 1rem;
$scss_706px: 706/$htmlFontSize * 1rem;
$scss_708px: 708/$htmlFontSize * 1rem;

$scss_710px: 710/$htmlFontSize * 1rem;
$scss_712px: 712/$htmlFontSize * 1rem;
$scss_714px: 714/$htmlFontSize * 1rem;
$scss_716px: 716/$htmlFontSize * 1rem;
$scss_718px: 718/$htmlFontSize * 1rem;

$scss_720px: 720/$htmlFontSize * 1rem;
$scss_722px: 722/$htmlFontSize * 1rem;
$scss_724px: 724/$htmlFontSize * 1rem;
$scss_726px: 726/$htmlFontSize * 1rem;
$scss_728px: 728/$htmlFontSize * 1rem;

$scss_730px: 730/$htmlFontSize * 1rem;
$scss_732px: 732/$htmlFontSize * 1rem;
$scss_734px: 734/$htmlFontSize * 1rem;
$scss_736px: 736/$htmlFontSize * 1rem;
$scss_738px: 738/$htmlFontSize * 1rem;

$scss_740px: 740/$htmlFontSize * 1rem;
$scss_742px: 742/$htmlFontSize * 1rem;
$scss_744px: 744/$htmlFontSize * 1rem;
$scss_746px: 746/$htmlFontSize * 1rem;
$scss_748px: 748/$htmlFontSize * 1rem;

$scss_750px: 750/$htmlFontSize * 1rem;
$scss_752px: 752/$htmlFontSize * 1rem;
$scss_754px: 754/$htmlFontSize * 1rem;
$scss_756px: 756/$htmlFontSize * 1rem;
$scss_758px: 758/$htmlFontSize * 1rem;

$scss_760px: 760/$htmlFontSize * 1rem;
$scss_762px: 762/$htmlFontSize * 1rem;
$scss_764px: 764/$htmlFontSize * 1rem;
$scss_766px: 766/$htmlFontSize * 1rem;
$scss_768px: 768/$htmlFontSize * 1rem;

$scss_770px: 770/$htmlFontSize * 1rem;
$scss_772px: 772/$htmlFontSize * 1rem;
$scss_774px: 774/$htmlFontSize * 1rem;
$scss_776px: 776/$htmlFontSize * 1rem;
$scss_778px: 778/$htmlFontSize * 1rem;

$scss_780px: 780/$htmlFontSize * 1rem;
$scss_782px: 782/$htmlFontSize * 1rem;
$scss_784px: 784/$htmlFontSize * 1rem;
$scss_786px: 786/$htmlFontSize * 1rem;
$scss_788px: 788/$htmlFontSize * 1rem;

$scss_790px: 790/$htmlFontSize * 1rem;
$scss_792px: 792/$htmlFontSize * 1rem;
$scss_794px: 794/$htmlFontSize * 1rem;
$scss_796px: 796/$htmlFontSize * 1rem;
$scss_798px: 798/$htmlFontSize * 1rem;

$scss_800px: 800/$htmlFontSize * 1rem;

$scss_810px: 810/$htmlFontSize * 1rem;

$scss_820px: 820/$htmlFontSize * 1rem;

$scss_830px: 830/$htmlFontSize * 1rem;

$scss_840px: 840/$htmlFontSize * 1rem;

$scss_850px: 850/$htmlFontSize * 1rem;

$scss_860px: 860/$htmlFontSize * 1rem;

$scss_870px: 870/$htmlFontSize * 1rem;
$scss_878px: 878/$htmlFontSize * 1rem;

$scss_880px: 880/$htmlFontSize * 1rem;

$scss_890px: 890/$htmlFontSize * 1rem;

$scss_900px: 900/$htmlFontSize * 1rem;

$scss_910px: 910/$htmlFontSize * 1rem;

$scss_920px: 920/$htmlFontSize * 1rem;

$scss_930px: 930/$htmlFontSize * 1rem;

$scss_940px: 940/$htmlFontSize * 1rem;

$scss_950px: 950/$htmlFontSize * 1rem;

$scss_960px: 960/$htmlFontSize * 1rem;

$scss_970px: 970/$htmlFontSize * 1rem;

$scss_980px: 980/$htmlFontSize * 1rem;

$scss_990px: 990/$htmlFontSize * 1rem;

$scss_1000px: 1000/$htmlFontSize * 1rem;

$scss_1042px: 1042/$htmlFontSize * 1rem;
$scss_1043px: 1043/$htmlFontSize * 1rem;
$scss_1044px: 1044/$htmlFontSize * 1rem;