/*! 医生列表样式 */
.doctor-list {
	li {
		margin-bottom: $scss_32px;
	}
	a {
		display: block;
		padding: $scss_40px $scss_32px 0 $scss_176px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		color: #666;
		font-size: $scss_28px;
		position: relative;
	}
	.avatar {
		position: absolute;
		top: $scss_32px;
		left: $scss_32px;
		width: $scss_120px;
		height: $scss_120px;
		border-radius: 50%;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	.info {
		border-bottom: 1px solid #ddd;
	}
	.left {
		p {
			font-size: $scss_38px;
			color: #333;
			line-height: 1;
			margin-right: $scss_12px;
			font-weight: 500;
		}
		span {
			font-size: $scss_28px;
			color: #00bebe;
			line-height: $scss_36px;
			padding: 0 4px;
			border-radius: $scss_4px;
			border: 1px solid #00bebe;
			background-color: #f2fcfb;
		}
	}
	.right {
		font-size: $scss_32px;
		font-weight: 500;
		color: #fe8f3e;
	}
	.work-address {
		padding: $scss_12px 0;
		line-height: $scss_40px;
	}
	.skill {
		color: #999;
		font-size: $scss_26px;
		line-height: $scss_36px;
		max-height: $scss_72px;
		margin: $scss_10px 0 $scss_20px;
		text-overflow: -o-ellipsis-lastline;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.icon-star {
		width: $scss_30px;
		height: $scss_30px;
		margin-right: 5px;
        background-image: url(../images/doctor-list/icon-star-1.png);
        &.two {
            background-image: url(../images/doctor-list/icon-star-2.png);
        }
        &.three {
            background-image: url(../images/doctor-list/icon-star-3.png);
        }
        &.four {
            background-image: url(../images/doctor-list/icon-star-4.png);
        }
        &.five {
            background-image: url(../images/doctor-list/icon-star-5.png);
        }
	}
}
