/*! 服务器监控页面 */
.fwtjjk {
	position: relative;
	.top {
		position: absolute;
		top: 105px;
		left: 27px;
		width: 1866px;
		height: 500px;
		ul {
			padding-top: 6px;
			padding-left: 37px;
		}
		li {
			width: 438px;
			height: 191px;
			border: solid 1px rgba(0, 67, 166, 0.49);
			margin-right: 16px;
			margin-top: 16px;
			padding: 0 18px;
		}
	}
	.title-tag {
		height: 50px;
		.left {
			font-size: 16px;
			line-height: 1;
			color: #fff;
		}
		.right {
			width: 60px;
			height: 33px;
			background-color: #0723af;
			border-radius: 2px;
			border: solid 1px rgba(75, 143, 255, 0.47);
			font-size: 14px;
			font-weight: normal;
			line-height: 1;
			color: #fff;
			&.one {
				background-color: #4c0707;
				border-color: rgba(234, 43, 43, 0.47);
			}
			&.two {
				background-color: #5a2600;
				border-color: rgba(234, 137, 43, 0.47);
				opacity: 0.8;
			}
			&.three {
				background-color: #3300a9;
				border-color: rgba(138, 75, 255, 0.47);
				opacity: 0.8;
			}
		}
	}
	.num {
		color: #fff;
		.left {
			.val {
				width: 25px;
				height: 35px;
				background: url(../images/bg-num-blue.png) no-repeat center center;
				background-size: 100%;
				font-size: 28px;
				font-weight: 700;
				color: #ffea00;
				margin-right: 2px;
				text-align: center;
				line-height: 35px;
				margin-right: 2px;
				&.zero {
					color: #3b4a75;
				}
			}
			.point {
				width: 3px;
				height: 5px;
				background-color: #005bff;
				margin-right: 2px;
			}
			.unit {
				font-size: 14px;
				font-weight: bold;
				color: #ddd;
				padding-left: 10px;
			}
		}
		.right {
			font-size: 14px;
			line-height: 1;
			color: #ddd;
			p {
				color: #1ce821;
				&.up {
					color: #ff1800;
					.icon-arrow-up {
						background-image: url(../images/icon-arrow-up-red.png);
					}
				}
			}
			.icon-arrow-up {
				width: 10px;
				height: 13px;
				background: url(../images/icon-arrow-down-green.png) no-repeat center
					center;
				background-size: 100%;
				margin-left: 4px;
			}
			.hb {
				padding-top: 10px;
			}
		}
	}
	.detail {
		color: #fff;
		padding-top: 25px;
		.item {
			width: 25%;
			line-height: 1;
			font-size: 14px;
			border-right: 1px solid #0c3cc8;
			padding-left: 20px;
			&:first-child {
				padding-left: 12px;
			}
			&:last-child {
				border-right: 0;
			}
			.df {
				color: #e88d1c;
				font-size: 18px;
				font-weight: 700;
				padding-top: 10px;
				.unit {
					font-size: 12px;
					font-weight: normal;
					line-height: 1;
					color: #fff;
					opacity: 0.5;
					padding-left: 6px;
				}
			}
		}
	}
	.echarts-wrapper {
		position: absolute;
		bottom: 26px;
		left: 27px;
		width: 1388px;
		height: 440px;
		.inner-title {
			.right {
				font-size: 14px;
				line-height: 1;
				color: #32a6ff;
				.btn {
					width: 28px;
					height: 24px;
					background-color: #002b97;
					border-radius: 2px;
					border: solid 1px #1371ff;
					margin-left: 10px;
					outline: 0;
					.icon-arrow-left,
					.icon-arrow-right {
						width: 12px;
						height: 14px;
						background: url(../images/icon-arrow-right-active.png) no-repeat
							center center;
						background-size: 100%;
						margin-top: 4px;
					}
					.icon-arrow-left {
						background-image: url(../images/icon-arrow-left-active.png);
					}
					&:last-child {
						margin-left: 3px;
					}
					&[disabled] {
						background-color: #043785;
						border-color: rgba(39, 123, 237, 0.38);
						.icon-arrow-right {
							background-image: url(../images/icon-arrow-right.png);
						}
						.icon-arrow-left {
							background-image: url(../images/icon-arrow-left.png);
						}
					}
				}
			}
		}
	}
	.echarts-line-box {
		// background-color: #666;
		height: 379px;
		.echarts-line {
			width: 100%;
			height: 100%;
		}
	}
	.inner-title {
		.btn {
			width: 48px;
			height: 26px;
			background-color: #043785;
			border-radius: 2px;
			border: solid 1px rgba(39, 123, 237, 0.38);
			font-size: 14px;
			outline: 0;
			font-weight: 400;
			line-height: 24px;
			color: #7aafff;
			margin-left: 3px;
			&.active {
				background-color: #726d00;
				color: #fff;
				border-color: #ffca08;
			}
		}
	}
	.ranking {
		position: absolute;
		bottom: 26px;
		right: 26px;
		width: 467px;
		height: 440px;
		border: solid 1px rgba(12, 60, 200, 0.6);

		.tabs {
			padding: 16px 0 0;
			.btn {
				min-width: 80px;
				height: 30px;
				font-size: 14px;
				font-weight: normal;
				line-height: 30px;
				padding: 0 10px;
				color: #ddd;
				background-color: #07229c;
				border-radius: 2px;
				border: 0;
				outline: 0;
				margin-right: 1px;
				&.active {
					background-color: #0060ff;
					line-height: 28px;
					border: solid 1px #07256e;
				}
			}
		}
		.tab-content-wrapper {
			padding: 0 24px;
		}
		.tab-content {
			ul {
				max-height: 300px;
				overflow: hidden;
			}
			li {
				margin-top: 20px;
			}
			font-size: 14px;
			font-weight: 500;
			line-height: 1;
			color: #d5d5d5;
		}
	}
}
