/*! 个人权益页面样式 */
.grqy {
	.top {
		position: absolute;
		left: 0;
		top: 96px;
		ul {
			padding-left: 27px;
			height: 132px;
			overflow: hidden;
		}
		li {
			width: 616px;
			height: 132px;
			color: #fff;
			margin-right: 10px;
			.name {
				padding: 24px 28px 0 22px;
				.left {
					p {
						font-size: 16px;
						line-height: 1;
						color: #82eaff;
					}
					span {
						font-size: 28px;
						font-weight: 700;
						line-height: 1;
						color: #e7db1b;
					}
					i {
						font-size: 12px;
						font-weight: normal;
						line-height: 1;
						font-style: normal;
						color: #fff;
						opacity: 0.5;
						padding-left: 11px;
						position: relative;
						top: 4px;
					}
				}
				.right {
					color: #82eaff;
					p {
						font-size: 14px;
						line-height: 1;
					}
					span {
						font-size: 12px;
						line-height: 1;
					}
					i {
						font-size: 12px;
						font-weight: normal;
						line-height: 1;
						font-style: normal;
						padding-left: 1px;
					}
				}
			}
			.items {
				padding-top: 20px;
			}
			.item {
				width: 25%;
				padding-left: 32px;
				border-right: 1px solid #0c3cc8;
				p {
					font-size: 14px;
					font-weight: normal;
					line-height: 1;
					color: #fff;
					margin-bottom: 10px;
				}

				span {
					font-size: 18px;
					font-weight: 700;
					line-height: 1;
					color: #e88d1c;
				}

				i {
					font-size: 12px;
					font-weight: normal;
					font-style: normal;
					line-height: 1;
					color: #fff;
					opacity: 0.5;
					padding-left: 9px;
					position: relative;
					top: -2px;
				}
			}
		}
	}
	.center {
		position: absolute;
		left: 27px;
		top: 238px;
		width: 1867px;
		height: 265px;
		.inner-title {
			height: 50px;
			.left {
				span {
					cursor: pointer;
					&.active {
						font-size: 18px;
						font-weight: 500;
						color: #2885ff;
					}
					&:last-child {
						padding-left: 40px;
					}
				}
			}
		}
		.echarts-wrapper {
			width: 100%;
			height: 214px;
			overflow: hidden;
			// background-color: #f00;
			.echarts {
				width: 100%;
				height: 100%;
			}
		}
	}
	.bottom {
		position: absolute;
		left: 27px;
		bottom: 27px;
		width: 1867px;
		height: 539px;
		.inner-title {
			position: relative;
			.right {
				position: absolute;
				top: 12px;
				right: 0;
			}
		}
	}
	.jkdy {
		width: 720px;
		height: 484px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: 13px;
			right: 0;
			width: 1px;
			height: 458px;
			background-color: #053787;
		}
		.info {
			padding: 0 27px 0 40px;
			p {
				font-size: 16px;
				line-height: 1;
				color: #82eaff;
			}
			span {
				font-size: 28px;
				font-weight: 700;
				line-height: 1;
				color: #89ecff;
			}
			i {
				font-size: 12px;
				font-style: normal;
				line-height: 1;
				color: #fff;
				opacity: 0.5;
				position: relative;
				// top: 5px;
				padding-left: 10px;
			}
			.name {
				padding-top: 27px;
			}
			.set-linear-progress-bar-two {
				height: 14px;
				margin-top: 13px;
			}
			.value {
				padding-top: 16px;
				p {
					color: #fff;
				}
				span {
					font-size: 18px;
					color: #82eaff;
				}
				i {
					top: 2px;
					padding-left: 6px;
				}
				.right {
					span {
						color: #ff5400;
					}
				}
			}
		}
		.text-hint {
			position: absolute;
			top: 21px;
			right: 29px;
			color: #fff;
			width: 356px;
			min-height: 134px;
			background-color: rgba(0, 27, 88, 0.5);
			border: solid 1px rgba(0, 67, 166, 1);
			padding: 0 22px;
			.name {
				font-size: 16px;
				font-weight: 400;
				line-height: 1;
				color: #82eaff;
				padding-top: 27px;
				padding-bottom: 20px;
			}
			.item {
				margin-right: 24px;
			}
			p {
				font-size: 14px;
				line-height: 1;
				padding-bottom: 10px;
			}
			span {
				font-size: 20px;
				line-height: 1;
				color: #82eaff;
			}
			i {
				font-size: 12px;
				font-style: normal;
				line-height: 1;
				color: #fff;
				opacity: 0.5;
				padding-left: 12px;
			}
		}
	}
	.qdfb {
		width: 629px;
		height: 484px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: 13px;
			right: 0;
			width: 1px;
			height: 458px;
			background-color: #053787;
		}
		.echarts-pie-wrapper {
			width: 100%;
			height: 190px;
			position: relative;
			.echarts-pie {
				width: 100%;
				height: 100%;
			}
			.total {
				position: absolute;
				text-align: center;
				top: 50%;
				transform: translateY(-50%);
				left: 80px;
				font-size: 14px;
				line-height: 1;
				color: #82eaff;
				p {
					font-size: 20px;
					font-weight: 700;
					line-height: 1;
					color: #89ecff;
					padding-top: 10px;
				}
				i {
					font-style: normal;
					font-size: 12px;
					line-height: 1;
					color: #82eaff;
					opacity: 0.5;
					padding-top: 5px;
				}
			}

			.handle {
				width: 380px;
				position: absolute;
				color: #fff;
				top: 40px;
				right: 0;
				.item {
					width: 190px;
					color: #fff;
					margin-bottom: 25px;
					cursor: pointer;
					.name {
						font-size: 16px;
						line-height: 1;
						span {
							width: 10px;
							height: 10px;
							background-color: #41b88d;
							margin-right: 8px;
						}
					}
					&.active {
						opacity: 0.5;
					}
					.value {
						font-size: 20px;
						padding-top: 10px;
						line-height: 1;
						color: #82eaff;
						padding-left: 20px;
						i {
							font-size: 12px;
							font-style: normal;
							line-height: 1;
							opacity: 0.5;
							color: #fff;
							position: relative;
							top: -2px;
							padding-left: 5px;
						}
					}
				}
			}
		}
		.circular-progress-bar-wrapper {
			width: 100%;
			height: 229px;
			padding: 27px 0 0 48px;
		}
	}
	.xzkt {
		width: 518px;
		height: 484px;
		ul {
			padding-left: 22px;
			max-height: 384px;
			overflow: hidden;
		}
		li {
			width: 225px;
			height: 82px;
			background-color: rgba(0, 27, 88, 0.2);
			border: solid 1px #0043a6;
			font-size: 16px;
			color: #fff;
			margin-bottom: 14px;
			margin-right: 14px;
			position: relative;
			p {
				line-height: 20px;
				width: 128px;
				text-align: center;
			}
			.icon {
				width: 58px;
				height: 56px;
				position: absolute;
				top: 0;
				right: 0;
				background: url(../images/connected.png) no-repeat center center;
				background-size: 100%;
			}
			&.not-connected {
				.icon {
					background-image: url(../images/not-connected.png);
				}
			}
			&.accessing {
				.icon {
					background-image: url(../images/accessing.png);
				}
			}
		}
	}
	.title-before {
		font-size: 16px;
		font-weight: 400;
		line-height: 1;
		color: #fff;
		padding: 22px 38px 26px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			width: 5px;
			height: 14px;
			background-color: #1479fd;
			top: 23px;
			left: 22px;
		}
	}
	.dash-board-wrapper {
		width: 100%;
		height: 340px;
		padding-top: 14px;
		position: relative;
		.echarts-wrapper {
			width: 100%;
			// 38 42/2 134+42
			height: 176px;
		}
		.echarts-bash-board {
			width: 100%;
			height: 100%;
		}
	}
}
.circular-progress-bar {
	width: 98px;
	height: 98px;
	margin-right: 46px;
	position: relative;
	.echarts-pie {
		width: 100%;
		height: 100%;
	}
	p {
		text-align: center;
		color: #fff;
		font-size: 16px;
		line-height: 22px;
		padding-top: 14px;
	}
}

.grqy {
	.el-date-editor {
		width: auto;
		background-color: transparent;
		padding: 0;
		border: 0;
		// background-color: #eee;
		border-radius: 0;
		height: auto;
		text-align: center;
		position: relative;
		&::before,
		&:after {
			content: '';
			width: 11px;
			height: 9px;
			background: url(../images/icon-selected.png) no-repeat center center;
			background-size: 100%;
			position: absolute;
			top: 14px;
			z-index: 99;
		}
		&::before {
			left: 106px;
		}
		&:after {
			right: 10px;
		}
		input {
			width: 130px;
			height: 37px;
			background-color: #0048a7;
			border: solid 1px #003a99;
			margin: 0;
			padding: 0;
			font-size: 16px;
			font-weight: 700;
			line-height: 1;
			color: #139eff;
			position: relative;
			padding-right: 14px;
		}
		span {
			width: 36px;
			display: inline-block;
			font-size: 16px;
			font-weight: 700;
			line-height: 37px;
			color: #139eff;
		}
		i {
			display: none;
		}
	}
	.el-select {
		width: 110px;
		height: 37px;
		padding: 0;
		left: 0;
		background-color: #ccc;
		border-radius: 0;

		.el-input {
			border-radius: 0;
			input {
				text-align: center;
				width: 110px;
				height: 37px;
				background-color: #0048a7;
				border: solid 1px #003a99;
				font-size: 16px;
				padding: 0;
				font-weight: 700;
				line-height: 35px;
				letter-spacing: 0px;
				color: #139eff;
				border-radius: 0;
				padding-right: 16px;
			}
			.el-input__suffix {
				position: absolute;
				transform: rotate(180deg);
				right: 10px;
			}
			i {
				color: #139eff;
				width: 11px;
				height: 9px;
				background: url(../images/icon-selected.png) no-repeat center center;
				background-size: 100%;
				margin: 14px 0 0 0;

				&::before {
					content: '';
				}
			}
		}
	}
}
