/*! 接口监控页面样式 */
// echart 地图
.provincial-interface-status-monitoring {
	position: absolute;
	width: 994px;
	height: 510px;
	top: 106px;
	left: 27px;
}
// 各省接口监控状态
.interface-status-of-each-province {
	position: absolute;
	width: 994px;
	height: 427px;
	bottom: 26px;
	left: 27px;
}
// 部级接口状态监控
.ministerial-interface-status-monitoring {
	position: absolute;
	width: 861px;
	height: 948px;
	top: 106px;
	right: 26px;
	&.decorate {
		.inner-title {
			.btn-wrapper {
				position: absolute;
				transform: translateY(0);
				right: 320px;
				margin-top: -2px;
			}
		}
	}
}

// 表格
.jkjk {
	.bottom {
		.table-scroll-wrapper {
			.table-tbody {
				height: 301px;
			}
			tr {
				margin-bottom: 9px;
				&.error {
					background-color: rgba(35, 25, 62, 0.9);
					border: solid 1px rgba(255, 0, 0, 0.43);
					td {
						&:nth-of-type(4) {
							color: #ff2400;
						}
					}
				}
			}
			td,
			th {
				width: 10%;
				&:first-child {
					width: 10%;
				}
			}
		}
	}
	.inner-title {
		.right {
			position: relative;
			min-width: 218px;
			height: 100%;
		}
		.btn-wrapper {
			width: 100%;
			position: absolute;
			right: 0;
			top: 0;
			transform: translateY(-50%);
			.btn {
				width: 48px;
				height: 26px;
				background-color: #043785;
				border-radius: 2px;
				border: solid 1px rgba(39, 123, 237, 0.38);
				font-size: 14px;
				outline: 0;
				font-weight: 400;
				line-height: 24px;
				color: #7aafff;
				margin-left: 3px;
				cursor: pointer;
				&.active {
					background-color: #726d00;
					color: #fff;
					border-color: #ffca08;
				}
			}
		}
	}
}

.jkjk {
	.item-wrapper {
		height: 878px;
		overflow: hidden;
		position: relative;
	}
	.items {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	.item {
		padding: 0 28px 26px 22px;
		border-bottom: 1px solid #092886;
		&:last-child {
			border-bottom: 0;
		}
		h4.title {
			padding: 22px 0 12px;
			font-size: 16px;
			font-weight: normal;
			line-height: 1;
			color: #fff;
		}
		.left {
			width: 448px;
			padding-left: 4px;
			li {
				width: 148px;
				height: 109px;
				background-color: #001b58;
				border: solid 1px rgba(0, 67, 166, 0.49);
				// border-right: solid 1px rgba(0, 67, 166, 0.49);
				color: #fff;
				text-align: center;
				font-size: 16px;
				line-height: 1;
				font-weight: normal;
				margin-bottom: -1px;
				margin-left: -1px;
				position: relative;
				.name {
					padding-top: 26px;
				}
				&:nth-of-type(5) {
					.value {
						padding-top: 6px;
						p {
							font-size: 16px;
							overflow: hidden;
						}
						.unit {
							padding: 0 2px;
							margin-left: 0;
							top: -1px;
						}
					}
				}
				p {
					font-size: 28px;
					padding-top: 16px;
					font-weight: 500;
					color: #82eaff;
				}
				.unit {
					font-size: 12px;
					font-weight: normal;
					font-stretch: normal;
					line-height: 1;
					color: #fff;
					opacity: 0.5;
					margin-left: 8px;
					position: relative;
					top: -2px;
				}

				&.status {
					background-color: #01174f;
					border-color: #0c3cc8;
					z-index: 22;
					p {
						color: #00ff72;
					}
				}
			}
		}
		.right {
			width: 340px;
			.table-scroll-wrapper {
				border: solid 1px rgba(12, 60, 200, 0.8);
				table {
					padding: 0;
				}
				.table-thead {
					tr {
						background-color: #023189;
						color: #d9f1ff;
						line-height: 30px;
						margin-bottom: 0;
						border-bottom: 1px solid rgba(12, 60, 200, 0.8);
					}
				}
				.table-tbody {
					height: 183px;
				}
				tr {
					line-height: 26px;
					background-color: transparent;
					border: 0;
					font-size: 14px;
					margin-bottom: 0;
					&:nth-of-type(2n + 1) {
						background-color: #02174d;
					}
					&:nth-of-type(2n) {
						background-color: #02123e;
					}
				}

				th,
				td {
					width: 60%;
					&:last-child,
					&:first-child {
						width: 20%;
					}
				}
			}
		}
		// 断开状态
		&.error {
			.left {
				li {
					background-color: rgba(114, 16, 46, 0.2);
					border: solid 1px rgba(85, 8, 0, 0.5);
					p {
						color: #e88d1c;
					}
					&.status {
						background-color: rgba(216, 0, 0, 0.2);
						border: solid 1px rgba(255, 0, 0, 0.4);
						p {
							color: #ff2400;
						}
					}
				}
			}
		}
	}
}

.echarts-china-map-box {
	width: 100%;
	height: 455px;
	.china-map {
		width: 100%;
		height: 100%;
	}
}

.echarts-wrapper {
	position: relative;
	ul {
		position: absolute;
		top: 34px;
		right: 43px;
		width: 260px;
		li {
			font-size: 16px;
			line-height: 1;
			color: #fff;
			background-color: #001b58;
			border: solid 1px #0043a6;
			margin-bottom: 10px;
			&:last-child {
				// padding-bottom: 20px;
			}
			.info {
				height: 74px;
				padding: 0 15px;
				.num {
					width: 25px;
					height: 35px;
					background: url(../../images/bg-num-blue.png) no-repeat center center;
					background-size: 100%;
					font-size: 28px;
					font-weight: 700;
					line-height: 1;
					color: #89ecff;
					margin-right: 2px;
				}
				span {
					font-size: 14px;
					line-height: 1;
					color: #fff;
					margin-top: 10px;
					margin-left: 8px;
				}
			}
			.detail {
				padding: 0 17px 0 21px;
				height: 124px;
				overflow: hidden;
				position: relative;
				.box-wrapper {
					position: absolute;
					padding: 0 17px 0 21px;
					top: 0;
					left: 0;
					width: 100%;
				}
				span {
					width: 108px;
					height: 52px;
					background-color: rgba(216, 0, 0, 0.2);
					border: solid 1px rgba(255, 0, 0, 0.5);
					line-height: 50px;
					text-align: center;
					margin-bottom: 10px;
					color: #ff6565;
				}
			}
			&.error {
				background-color: rgba(216, 0, 0, 0.3);
				border: solid 1px rgba(255, 0, 0, 0.8);
				.value {
					font-size: 28px;
					font-weight: 700;
					line-height: 1;
					color: #ff6565;
				}
				.info {
					.num {
						background-image: url(../images/bg-num-red.png);
						color: #ff6565;
					}
				}
			}
		}
	}
}
