/*! 人员转移页面样式 */
.ryzy {
	.top {
		position: absolute;
		width: 100%;
		top: 106px;
		left: 0;
		ul {
			padding: 0 0 0 27px;
		}
		.two-row {
			width: 460px;
			height: 137px;
			margin-right: 9px;
			margin-bottom: 16px;
			cursor: pointer;
			.title {
				height: 46px;
				.left {
					p {
						font-size: 18px;
					}
				}
				.right {
					p {
						font-size: 12px;
					}
				}
			}
			.row-border {
				padding-top: 12px;
				.left {
					padding-left: 46px;
				}
				.right {
					padding-left: 49px;
				}
				.name {
					margin-bottom: 14px;
					opacity: 1;
					font-size: 14px;
					padding-top: 8px;
				}
				p {
					font-size: 28px;
					color: #89ecff;
				}
			}
			.unit {
				padding-left: 12px;
				opacity: 0.8;
			}
			&.active {
				.row-border {
					p {
						color: #ffea00;
					}
				}
				.icon {
					display: block;
					opacity: 1;
				}
			}
		}
	}
	.echarts-wrapper {
		position: absolute;
		width: 100%;
		bottom: 26px;
		left: 27px;
		width: 928px;
		height: 788px;
		.handle-btn {
			position: absolute;
			top: 34px;
			left: 46px;
			.btn {
				width: 91px;
				height: 36px;
				border-radius: 0px 4px 4px 0px;
				border: solid 1px #0f4bfb;
				line-height: 34px;
				background-color: transparent;
				font-size: 18px;
				font-weight: 400;
				color: #fff;
				outline: 0;
				&:first-child {
					border-radius: 4px 0 0 4px;
				}
				&.active {
					color: #051442;
					border: solid 1px #dad021;
					background-color: #ff0;
				}
			}
		}
		.info {
			position: absolute;
			top: 73px;
			left: 343px;
			color: #fff;
			.name {
				text-align: center;
				font-size: 40px;
				font-weight: 400;
				line-height: 1;
				color: #82eaff;
			}
			.out {
				padding-top: 25px;
				color: #e7db1b;
				font-size: 26px;
				line-height: 1;
				font-weight: 700;
				.left {
					border-right: 1px solid #82eaff;
					padding-right: 16px;
				}
				.right {
					padding-left: 16px;
				}
				p {
					font-size: 18px;
					font-weight: 400;
					line-height: 1;
					color: #82eaff;
					margin-bottom: 13px;
				}
				span {
					font-size: 14px;
					font-weight: 400;
					line-height: 1;
					color: #fff;
					margin-bottom: 13px;
				}
			}
		}
		.echarts-map-box {
			position: relative;
			width: 100%;
			height: 735px;
		}
		.echarts-map {
			width: 100%;
			height: 100%;
			// background-color: #f0f;
		}
	}
	.table-wrapper {
		position: absolute;
		width: 100%;
		bottom: 26px;
		right: 496px;
		width: 458px;
		height: 788px;
		overflow: hidden;
		.table-scroll-wrapper {
			padding: 0 20px;
			th,
			td {
				width: 22.5%;
				&:first-child {
					width: 10%;
				}
			}
		}
	}
	.progress-wrapper {
		position: absolute;
		width: 100%;
		bottom: 26px;
		right: 26px;
		width: 460px;
		height: 388px;
		&.first {
			bottom: 426px;
			li {
				.linear-progress-bar-box {
					.bg {
						&::after {
							background: linear-gradient(to right, #009888, #50ffec);
						}
					}
				}
			}
		}
		ul {
			padding: 0 22px;
			margin-top: 2px;
			max-height: 308px;
			overflow: hidden;
			// 隐藏滚动条 只兼容谷歌
			&::-webkit-scrollbar {
				display: none;
			}
		}
		li {
			font-size: 14px;
			font-weight: 500;
			line-height: 1;
			color: #d5d5d5;
			.name {
				padding-top: 15px;
			}
			.linear-progress-bar-box {
				height: 7px;
			}
		}
	}
}
