
@import "./mixins/px-to-rem.scss";

@import "./mixins/noselect.scss";
@import "./mixins/background-image.scss";


// 全局变量 声明
$body-bgc: #f00;


// button 按钮
$btn-font-size: 15px;
$btn-color: #333;

// input 输入框
$input-font-size: 15px;
$input-placeholder-color: #f00;
$input-color: #333;